# Configuration file

####################
# biome ids
####################

"biome ids" {
    I:"Alps Forest (Sub-Biome) ID"=42
    I:"Alps ID"=170
    I:"Alps Mountainside (Sub-Biome) ID"=43
    I:"Arctic ID"=171
    I:"Autumn Hills ID"=33
    I:"Badlands ID"=172
    I:"Bamboo Forest ID"=173
    I:"Bayou ID"=174
    I:"Birch Forest ID"=175
    I:"Blessed Bog (Promised Land) ID"=64
    I:"Bloody Heap (Nether) ID"=30
    I:"Bog ID"=176
    I:"Boneyard (Nether) ID"=69
    I:"Boreal Forest ID"=177
    I:"Brushland ID"=178
    I:"Canyon ID"=179
    I:"Canyon Ravine (Sub-Biome) ID"=49
    I:"Chaparral ID"=180
    I:"Cherry Blossom Grove ID"=181
    I:"Coniferous Forest (Snow) ID"=183
    I:"Coniferous Forest ID"=182
    I:"Coral Reef (Ocean) ID"=58
    I:"Corrupted Sands (Nether) ID"=67
    I:"Crag ID"=184
    I:"Dead Forest (Snow) ID"=186
    I:"Dead Forest ID"=185
    I:"Dead Swamp ID"=187
    I:"Deadlands ID"=188
    I:"Deciduous Forest ID"=189
    I:"Desert (New) ID"=249
    I:"Dunes ID"=190
    I:"Extreme Hills (New) ID"=253
    I:"Fen ID"=191
    I:"Field ID"=192
    I:"Forest (New) ID"=250
    I:"Forest Hills (Sub-Biome) ID"=35
    I:"Forested Field (Sub-Biome) ID"=40
    I:"Frost Forest ID"=193
    I:"Fungi Forest ID"=194
    I:"Garden ID"=195
    I:"Glacier ID"=196
    I:"Grassland ID"=197
    I:"Gravel Beach ID"=60
    I:"Grove ID"=198
    I:"Heathland ID"=199
    I:"Highland ID"=200
    I:"Hot Springs ID"=201
    I:"Icy Hills ID"=202
    I:"Jade Cliffs ID"=203
    I:"Jungle (New) ID"=254
    I:"Jungle Hills (Sub-Biome) ID"=37
    I:"Kelp Forest (Ocean) ID"=59
    I:"Lavender Fields ID"=31
    I:"Lush Desert ID"=204
    I:"Lush Swamp ID"=205
    I:"Majestic Meadow (Promised Land) ID"=63
    I:"Mangrove ID"=206
    I:"Maple Woods ID"=210
    I:"Marsh ID"=211
    I:"Meadow Forest (Sub-Biome) ID"=50
    I:"Meadow ID"=212
    I:"Mesa ID"=213
    I:"Moor ID"=214
    I:"Mountain ID"=215
    I:"Mystic Grove ID"=216
    I:"Nether Base (Nether) ID"=65
    I:"Oasis ID"=217
    I:"Oceanic Abyss (Ocean) ID"=57
    I:"Ominous Woods ID"=218
    I:"Orchard ID"=219
    I:"Origin Valley ID"=220
    I:"Outback ID"=221
    I:"Overgrown Beach ID"=61
    I:"Overgrown Greens ID"=34
    I:"Pasture ID"=222
    I:"Pasture Meadow (Sub-Biome) ID"=46
    I:"Phantasmagoric Inferno (Nether) ID"=68
    I:"Plains (New) ID"=248
    I:"Polar ID"=223
    I:"Prairie ID"=224
    I:"Quagmire ID"=225
    I:"Rainforest ID"=226
    I:"Redwood Forest ID"=227
    I:"Sacred Springs ID"=228
    I:"Savanna ID"=229
    I:"Savanna Plateau (Sub-Biome) ID"=39
    I:"Scrubland ID"=230
    I:"Seasonal Forest ID"=231
    I:"Seasonal Spruce Forest (Sub-Biome) ID"=41
    I:"Shield ID"=232
    I:"Shore ID"=233
    I:"Shrubland ID"=234
    I:"Silkglades ID"=38
    I:"Sludgepit ID"=235
    I:"Spruce Woods ID"=236
    I:"Steppe ID"=237
    I:"Sublime Shrubland (Promised Land) ID"=28
    I:"Swampland (New) ID"=252
    I:"Taiga (New) ID"=251
    I:"Taiga Hills (Sub-Biome) ID"=36
    I:"Temperate Rainforest ID"=238
    I:"Thick Ominous Woods (Sub-Biome) ID"=47
    I:"Thick Shrubland (Sub-Biome) ID"=48
    I:"Thicket ID"=239
    I:"Thinned Mystic Grove (Sub-Biome) ID"=29
    I:"Thinned Pasture (Sub-Biome) ID"=45
    I:"Thinned Timber (Sub-Biome) ID"=44
    I:"Timber ID"=240
    I:"Tropical Rainforest ID"=241
    I:"Tropics ID"=242
    I:"Tropics Mountain (Sub-Biome) ID"=32
    I:"Tundra ID"=243
    I:"Undergarden (Nether) ID"=66
    I:"Volcano ID"=244
    I:"Wasteland ID"=245
    I:"Wetland ID"=246
    I:"Wonderous Woods (Promised Land) ID"=62
    I:"Woodland ID"=247
}


####################
# block
####################

block {
    I:"Acacia Stairs ID"=2492
    I:"Altar ID"=2493
    I:"Amethyst Ore ID"=2494
    I:"Bamboo ID"=2495
    I:"Bones ID"=2496
    I:"Cherry Stairs ID"=2497
    I:"Cloud ID"=2498
    I:"Colourized Leaves 1 ID"=2499
    I:"Colourized Leaves 2 ID"=1533
    I:"Colourized Leaves 3 ID"=2501
    I:"Colourized Leaves 4 ID"=2502
    I:"Colourized Leaves ID"=2503
    I:"Colourized Sapling ID"=2504
    I:"Coral ID"=2505
    I:"Crystal ID"=2506
    I:"Dark Stairs ID"=2507
    I:"Fir Stairs ID"=2508
    I:"Flower 2 ID"=2509
    I:"Flower ID"=2510
    I:"Foliage ID"=2511
    I:"Fruit Leaf Block 2 ID"=2512
    I:"Fruit Leaf Block ID"=2513
    I:"Glass ID"=2514
    I:"Grave ID"=2515
    I:"Hell Bark Stairs ID"=2516
    I:"Hive ID"=2517
    I:"Holy Stairs ID"=2518
    I:"Honey Block ID"=2519
    I:"Ivy ID"=2520
    I:"Jacaranda ID"=2521
    I:"Leaf Block ID 1"=2522
    I:"Leaf Block ID 2"=2523
    I:"Leaf Block ID 3"=2524
    I:"Leaf Block ID 4"=2525
    I:"Log Block ID 1"=2526
    I:"Log Block ID 2"=2527
    I:"Log Block ID 3"=2528
    I:"Log Block ID 4"=2529
    I:"Magic Stairs ID"=2530
    I:"Mangrove Stairs ID"=2531
    I:"Moss ID"=2532
    I:"Mud Brick Stairs ID"=2533
    I:"Mud Bricks ID"=2534
    I:"Mushroom ID"=2535
    I:"Overgrown Netherrack ID"=1928
    I:"Palm Stairs ID"=2536
    I:"Petal ID"=2537
    I:"Pine Stairs ID"=2538
    I:"Planks ID"=2539
    I:"Plant ID"=2595
    I:"Promised Land Portal ID"=2596
    I:"Puddle ID"=2597
    I:"Red Brick Stairs ID"=2598
    I:"Red Cobble Stairs ID"=2599
    I:"Redwood Stairs ID"=2626
    I:"Sapling ID"=2627
    I:"Skystone Brick Stairs ID"=2628
    I:"Skystone Cobble Stairs ID"=2629
    I:"Stone Double Slab ID"=2754
    I:"Stone Formations ID"=3119
    I:"Stone Single Slab ID"=2756
    I:"Tree Moss ID"=2757
    I:"Turnip Crop ID"=2034
    I:"Willow ID"=2758
    I:"Willow Stairs ID"=2759
    I:"Wooden Double Slab 1 ID"=2760
    I:"Wooden Double Slab 2 ID"=2761
    I:"Wooden Single Slab 1 ID"=2762
    I:"Wooden Single Slab 2 ID"=2763
}


####################
# dimension settings
####################

"dimension settings" {
    I:"Promised Land Dimension ID"=20
}


####################
# entity ids
####################

"entity ids" {
    I:"Dart ID"=185
    I:"Mudball ID"=186
    I:"Poison Dart ID"=187
}


####################
# item
####################

item {
    I:"Amethyst Axe ID"=17031
    I:"Amethyst Boots ID"=17037
    I:"Amethyst Chestplate ID"=17035
    I:"Amethyst Helmet ID"=17034
    I:"Amethyst Hoe ID"=17032
    I:"Amethyst Leggings ID"=17036
    I:"Amethyst Pickaxe ID"=17030
    I:"Amethyst Scythe ID"=17033
    I:"Amethyst Shovel ID"=17029
    I:"Amethyst Sword ID"=17028
    I:"Ancient Staff ID"=17010
    I:"Dart Blower ID"=17016
    I:"Dart ID"=17017
    I:"Diamond Scythe ID"=17042
    I:"Enderporter ID"=17011
    I:"Flippers ID"=17014
    I:"Flower Band ID"=17015
    I:"Food ID"=17009
    I:"Gems ID"=17008
    I:"Gold Scythe ID"=17041
    I:"Iron Scythe ID"=17040
    I:"Jar (Empty) ID"=17005
    I:"Jar (Filled) ID"=17006
    I:"Misc Items ID"=17200
    I:"Mud Ball ID"=17007
    I:"Mud Scythe ID"=17023
    I:"Muddy Axe ID"=17021
    I:"Muddy Boots ID"=17027
    I:"Muddy Chestplate ID"=17025
    I:"Muddy Helmet ID"=17024
    I:"Muddy Hoe ID"=17022
    I:"Muddy Leggings ID"=17026
    I:"Muddy Music Disc ID"=17044
    I:"Muddy Pickaxe ID"=17020
    I:"Muddy Shovel ID"=17019
    I:"Muddy Sword ID"=17018
    I:"Soul Manipulator ID"=17080
    I:"Spring Water Bucket ID"=17012
    I:"Stone Scythe ID"=17039
    I:"Traversia Music Disc ID"=17043
    I:"Turnip Seeds ID"=8164
    I:"Wading Boots ID"=17013
    I:"Wood Scythe ID"=17038
}


####################
# liquid ids
####################

"liquid ids" {
    I:"Honey Still ID (ID before this must be free!)"=2032
    I:"Liquid Poison Still ID (ID before this must be free!)"=2030
    I:"Spring Water Still ID (ID before this must be free!)"=2028
}


####################
# mob ids
####################

"mob ids" {
    I:"Bird ID"=109
    I:"Glob ID"=106
    I:"Jungle Spider ID"=101
    I:"Phantom ID"=107
    I:"Pixie ID"=110
    I:"Rosester ID"=102
    I:"Wasp ID"=108
}


####################
# terrain block ids - must be below 255
####################

"terrain block ids - must be below 255" {
    I:"Ash Block ID"=166
    I:"Ash Stone ID"=167
    I:"Crag Rock ID"=168
    I:"Dried Dirt ID"=169
    I:"Flesh ID"=174
    I:"Hard Dirt ID"=175
    I:"Hard Ice ID"=176
    I:"Hard Sand ID"=177
    I:"Holy Dirt ID"=178
    I:"Holy Grass ID"=179
    I:"Long Grass ID"=180
    I:"Mud ID"=181
    I:"Origin Grass ID"=182
    I:"Red Rock ID"=183
    I:"Skystone ID"=184
}


