# Configuration file

####################
# block
####################

block {
    I:blockMultipart.id=1439
    I:peripherals.block.id=3414
    I:peripherals.lan-wire.id=4082
    I:redlogic.button.id=813
    I:redlogic.customCircuitBlock.id=2474
    I:redlogic.gates.id=583
    I:redlogic.lampCubeDecorative.id=3502
    I:redlogic.lampCubeIndicatorOff.id=882
    I:redlogic.lampCubeIndicatorOn.id=2062
    I:redlogic.lampCubeOff.id=2303
    I:redlogic.lampCubeOn.id=2061
    I:redlogic.lampNonCube.id=1193
    I:redlogic.machineBlock.id=1895
    I:redlogic.plainBlock.id=1284
    I:redlogic.wire.id=1690
}


####################
# general
####################

general {
    B:autoAssign=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=true
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10
    I:redlogic.defaultTimerTicks=20
    I:redlogic.minTimerTicks=4
}


####################
# item
####################

item {
    I:itemSaw=11782
    I:peripherals.component=28230
    I:peripherals.magstripe=10153
    I:peripherals.rfid=16230
    I:redlogic.chip=14547
    I:redlogic.compiledCircuit=31667
    I:redlogic.schematic=6900
    I:redlogic.screwdriver=16517
}


