# Configuration file

####################
# block
####################

block {
    I:blockLiquidNaquadah=3897
    I:goauldGoldDecorStair=3160
    I:goauldPatternedGoldDecorStair=3161
    I:lanteaDecor=3162
    I:lanteaOreBlock=3163
    I:lanteaOreIngotBlock=3164
    I:lanteaPatternedSteelDecorStair=3165
    I:lanteaSteelDecorStair=3166
    I:naquadahGenerator=3167
    I:ringPlatform=3168
    I:stargateBase=4072
    I:stargateController=3899
    I:stargateRing=4081
}


####################
# dhd
####################

dhd {
    I:linkRangeX=10
    I:linkRangeY=10
    I:linkRangeZ=10
}


####################
# general
####################

general {
    # Version cache - do not change this!
    I:currentVersion=RC1 build 16
}


####################
# graphics_options
####################

graphics_options {
    # Should HD models be used. (true/false)
    B:HDModels=true

    # Texture resolution setting. (32 / 64 / 128)
    I:textureRes=128
}


####################
# item
####################

item {
    I:controllerCrystal=7263
    I:coreCrystal=7264
    I:energyCrystal=7265
    I:lanteaOreIngot=7266
    I:lanteaOreItem=7267
    I:lanteadebug=7268
    I:liquidNaquadahBucket=7269
    I:tokraSpawnEgg=7270
    I:transportRingActivator=7271
}


####################
# naquadah
####################

naquadah {
    I:genIsolatedOdds=8
    I:genUnderLavaOdds=4
    I:maxIsolatedNodes=4
    I:maxNodesUnderLava=8
}


####################
# options
####################

options {
    B:ActiveGateExplosion=true

    # Enables/Disables generation of Gate Rooms under Desert Pyramids. (true/false)
    B:GenerateStructures=true
    B:addOresToExistingWorlds=false

    # Submit anonymous usage statistic data. (true/false)
    B:enableAnalytics=true
}


####################
# stargate
####################

stargate {
    B:GenerateStructures=true
    B:closeFromEitherEnd=true
    B:oneWayTravel=false
    I:secondsToStayOpen=100
}


####################
# villagers
####################

villagers {
    I:tokra=100
}


