# Configuration file

####################
# block
####################

block {
    I:naquadahBlock=3897
    I:naquadahOre=3896
    I:stargateBase=4072
    I:stargateController=3899
    I:stargatePortal=3898
    I:stargateRing=4081
}


####################
# dhd
####################

dhd {
    I:linkRangeX=5
    I:linkRangeY=1
    I:linkRangeZ=6
}


####################
# general
####################

general {
    # Version cache - do not change this!
    I:currentVersion=0.1.0 build 82
}


####################
# graphics_options
####################

graphics_options {
    # Should HD models be used. (true/false)
    B:HDModels=true

    # Texture resolution setting. (32 / 64 / 128)
    I:textureRes=32
}


####################
# item
####################

item {
    I:naquadah=31665
    I:naquadahIngot=31664
    I:sgControllerCrystal=31662
    I:sgCoreCrystal=31663
}


####################
# naquadah
####################

naquadah {
    I:genIsolatedOdds=8
    I:genUnderLavaOdds=4
    I:maxIsolatedNodes=4
    I:maxNodesUnderLava=8
}


####################
# options
####################

options {
    B:ActiveGateExplosion=true

    # Enables/Disables Galcticraft support - this will change all addresses! (true/false)
    B:GalacticCraftCompat=false

    # Enables/Disables generation of Gate Rooms under Desert Pyramids. (true/false)
    B:GenerateStructures=true
    B:RenderHD=true
    B:addOresToExistingWorlds=false
    B:allowCraftingCrystals=false
    B:allowCraftingNaquadah=false

    # Submit anonymous usage statistic data. (true/false)
    B:enableAnalytics=true
    B:enableNaquadahOre=true
}


####################
# stargate
####################

stargate {
    B:GalacticCraftCompat=false
    B:GenerateStructures=true
    B:closeFromEitherEnd=true
    I:gateOpeningsPerFuelItem=24
    I:minutesOpenPerFuelItem=80
    B:oneWayTravel=false
    I:secondsToStayOpen=300
}


####################
# villagers
####################

villagers {
    I:tokra=100
}


